{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Описание страницы</title>
    <link rel="stylesheet" href="{% static 'style5.css' %}">
</head>
<body>
    <div class="container">
        <h1>Описание про Технике</h1>
        <img src="https://sdvv.ru/upload/iblock/0ed/0edc1d55d3cea8eb76620271c79e5960.jpg" alt="Продукт" class="product-image">
        <p class="description">
            Этот продукт является одним из лучших в своем классе. Он предлагает отличное качество, долговечность и надежность.
            Его уникальный дизайн и инновационные функции делают его незаменимым помощником в повседневной жизни.
        </p>

        <p class="description">
            Техника разрабатывается и совершенствуется в результате инженерной деятельности. Особенности конструирования
            и изготовления технических устройств зависят от вида технического устройства, требований заказчика к его техническим
            характеристикам (производительности, надёжности, экономичности, долговечности и т. д.), качеству, стоимости, технологии
            изготовления, а также от финансовых и технических возможностей производителя. Так, техническое изделие или агрегат могут
            быть изготовлены промышленным или кустарным способом, в то время как установки, как правило, собирают из компонентов по месту
            эксплуатации установки. При этом отдельные компоненты установки — индивидуальные изделия, агрегаты и узлы — могут иметь высокую
            заводскую готовность и модульность, что позволяет значительно снизить затраты труда и времени на их интеграцию в установку и замену
            в случае неисправности. Огромную роль в технике играет взаимозаменяемость, которая снижает затраты и облегчает конструирование, изготовление,
            эксплуатацию, обслуживание и ремонт технических устройств.
        </p>
    </div>
</body>
</html>
