{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
       <div class="container">
        <div class="form-wrapper">
            <h2>Регистрация</h2>
            <form action="/submit_registration" method="post">
                <div class="form-group">
                    <label for="first-name">Имя</label>
                    <input type="text" id="first-name" name="first-name" required>
                </div>
                <div class="form-group">
                    <label for="last-name">Фамилия</label>
                    <input type="text" id="last-name" name="last-name" required>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Подтвердите пароль</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div>
                <button type="submit"><a href="">Зарегистрироваться</a></button>
            </form>
        </div>
    </div>
</body>
</html>
